.container-check {
  padding: 30px;
  background-image: url('./assets/wallpeper5.gif'); /* รูปจาก public */
  background-size: cover;                  /* ปรับให้เต็มพื้นที่ */
  background-position: center;             /* จัดให้อยู่ตรงกลาง */
  background-repeat: no-repeat;            /* ไม่วนซ้ำ */
  min-height: 100vh;                       /* ความสูงเต็มหน้าจอ */
}

.booking-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.booking-card:hover {
  background: #f1f1f1;
}

.booking-card h3 {
  margin: 0;
  color: #34b808;
}

.booking-card p {
  margin: 5px 0;
}

.booking-card button {
  background: #34b808;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.booking-card button:hover {
  background: #0056b3;
}

.font-check {
  font-family: 'Sarabun', sans-serif;  /* ฟ้อนต์ภาษาไทยยอดนิยม */
  font-size: 28px;                     /* ขนาดตัวอักษร */
  color: #ffffff;                      /* สีตัวอักษร */
  margin-top: 1px; /* ขยับลงจากขอบบน 60px */
  padding: 20px;
}
