select {
    padding: 5px;
    font-size: 16px;
  }
  
.dropdown-container {
    display: flex;
    align-items: center;
    margin-top: 5px; /* ปรับค่านี้เพื่อขยับ dropdown ขึ้น */
    margin-left: 10px; /* เว้นระยะห่างซ้าย */
  }
  
label {
    margin-left: 10px;
}

.input-calendar {
    width: 100px;
    height: 35px;
    margin-left: 10px; 
}

.p1 {
    margin-right: 10px;
}

.btn-go {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px; /* ปรับให้ปุ่มโค้ง */
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: -10px; /* ปรับค่านี้เพื่อขยับ dropdown ขึ้น */
    margin-left: 10px; /* เว้นระยะห่างซ้าย */
  }
  
  .teams {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #f0f0f0d7;
    padding: 6px;
    margin-top: 30px;
  }
  
  
.button-purple {
  background-color: rgb(128, 43, 202);
  color: white;
  border-radius: 4px; /* ปรับให้ปุ่มโค้ง */
  cursor: pointer;
  border: none;
}

.td {
  vertical-align: top;
  text-align: right; 
  height: 4rem;
  
}
  