/* home.css */

/* ปรับระยะขอบรอบๆ ทั้งหน้า */
.bg-home {
  padding: 20px;
  box-sizing: border-box; /* ให้รวมระยะขอบในการคำนวณขนาดของพื้นที่ */
}

/* กล่องสำหรับข้อมูลต่างๆ */
.wrapper-home {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* สำหรับหน้าจอเล็ก */
  margin-top: 20px;
}


.text-dashboard-right {
  text-align: left;
}

.icon-size {
  font-size: 30px;
}

.text-position {
  font-size: 24px;
  font-weight: bold;
}

/* ปรับระยะขอบให้เหมาะสมในปุ่ม */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-purple {
  background-color: #9C27B0;
  color: white;
  margin-right: 10px;
  border: white;
}

.btn-blue {
  background-color: #2196F3;
  color: white;
  border: white;
}

/* ปรับสไตล์ให้เหมาะสมกับหน้าจอมือถือ */
@media (max-width: 768px) {
  .wrapper-home {
    flex-direction: column;
    align-items: center;
  }

  

  .btn-purple, .btn-blue {
    width: 100%;
    margin-bottom: 10px;
  }
}

.wrapper-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* จัดระเบียบให้กล่องเรียงต่อกัน */
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-green {
  background-color: #44ba44;
  color: whitesmoke;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: 10px;   /* มุมบนขวา */
  border-bottom-left-radius: 10px;/* มุมล่างขวา */
  width: 100px; /* กำหนดขนาดของกล่อง */
  height: 120px; /* กำหนดขนาดของกล่อง */
}

.box-brightgreen{
  background-color: #4fd44f;
  margin: 5px;
  display: flex;
  align-items: right;
  justify-content: right;
  color: white;
  font-family: 'Sarabun', sans-serif;
  font-size: 14px;
  padding: 20px;
  border-top-right-radius: 10px;   /* มุมบนขวา */
  border-bottom-right-radius: 10px;/* มุมล่างขวา */
  width: 250px; /* กำหนดขนาดของกล่อง */
  height: 120px; /* กำหนดขนาดของกล่อง */
}

.box-yellow {
  background-color: #fdce12;
  color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top-left-radius: 10px;   /* มุมบนขวา */
  border-bottom-left-radius: 10px;/* มุมล่างขวา */
  width: 100px; /* กำหนดขนาดของกล่อง */
  height: 120px; /* กำหนดขนาดของกล่อง */
}

.brightyellow {
  background-color: #fed952;
  color: white;
  font-family: 'Sarabun', sans-serif;
  font-size: 18px;
  margin-left: -5px;
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 20px;
  border-top-right-radius: 10px;   /* มุมบนขวา */
  border-bottom-right-radius: 10px;/* มุมล่างขวา */
  width: 250px; /* กำหนดขนาดของกล่อง */
  height: 120px; /* กำหนดขนาดของกล่อง */
}

.icon-inside-box {
  font-size: 50px;
}

.box2 {
  margin-left: -5px;
}

.text-dashboard-right {
  text-align: right; /* จัดข้อความชิดขวา */
}
