@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

.btn-purple {
    background-color: #c441aa;
    color: white;
    width: 8%;
    height: 35px;
    /* padding: 5px;  */
    border-radius: 5px;
    border: 0.5px solid #ffffff;
    ;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
}

.btn-blue {
    background-color: rgb(0, 162, 255);
    color: white;
    width: 8%;
    height: 35px;
    border-radius: 5px;
    border: 0.5px solid #ffffff;
    ;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /* ปกติ */
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    /* หนามาก */
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
}

.icon {
    font-size: 32px;
    margin-bottom: 8px;
}

.dashboard-item {
    width: 200px;/* กำหนดขนาดการ์ด */
    height: 90px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);/* เพิ่มเงา */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.dashboard {
    display: flex;
    gap: 16px;
    /* ระยะห่างระหว่างการ์ด */
    padding: 20px;
    justify-content: left;
    
}

.green {
    background-color: #4CAF50;
    color: white;
}

.yellow {
    background-color: #FFA500;
    color: white;

}