


/* เพิ่มให้ container ของตารางอยู่กึ่งกลาง */
.reserve-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 20px; */
}

/* ไอคอนที่อยู่ด้านบน */
.icon-reserve {
  font-size: 36px;
  color: #4A90E2;
  margin-left: 20px;
}

/* หัวข้อหน้า */
.head-reserve {
  font-family: 'Sarabun', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-top: 10px;
  text-align: center;
}

/* ข้อความแสดงจำนวนรายการ */
.text-reserve {
  font-family: 'Sarabun', sans-serif;
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
}

/* ตารางข้อมูลห้องประชุม */
.reserve-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* .reserve-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
} */


.reserve-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px; /* เพิ่มช่องว่างระหว่างแถว */
}


.thead-blue-reserve th {
  padding: 15px;
  color: white;
}

.th1 {
  border-top-left-radius: 10px;   /* มุมบนขวา */
}

.th2 {
  border-top-right-radius: 10px;   /* มุมบนขวา */
}

/* .reserve-table th, .reserve-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
} */

.reserve-table th {
  background-color: #C8E6C9;
  padding: 14px;
  text-align: center;
  color: #1B5E20;
  font-size: 18px;
  border-bottom: 2px solid #A5D6A7;
}

.reserve-table td {
  vertical-align: middle;
  padding: 14px;
  border-radius: 12px;
}


.reserve-table tr:hover {
  background-color: #ffffff;
}

/* รูปภาพในตาราง */
.picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* รายละเอียดของห้องประชุม */
.room-details {
  font-size: 16px;
}

.txtroom {
  font-weight: bold;
  color: #333;
}

.button-green {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.button-green:hover {
  background-color: #45a049;
}

.button-yellow {
  background-color: #ffcc00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.button-yellow:hover {
  background-color: #e6b800;
}

/* ไอคอนภายในปุ่ม */
.icon-inside-reserve {
  margin-right: 5px;
  font-size: 18px;
}


.reserve-table .th1, .reserve-table .th2 {
  width: 25%; /* กำหนดความกว้างของคอลัมน์ที่ต้องการ */
}

.reserve-table .room-details {
  width: 50%; /* เพิ่มความกว้างให้กับรายละเอียดห้อง */
}

.reserve-table .action-buttons {
  width: 25%; /* เพิ่มความกว้างให้กับปุ่มการกระทำ */
}

.picture {
  width: 100px;
  border-radius: 8px;
}

