.conreserve {
  width: 90%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  margin-top: 35px; 
  padding-top: 35px;
}


.blue-bar {
  background-color: #3da4ee; /* สีฟ้า */
  color: white; /* สีตัวอักษร */
  padding: 10px 20px; /* ปรับระยะห่างด้านใน */
  font-size: 18px;
  font-weight: normal;  
  text-align: left; 
  width: fit-content; /* ปรับให้กว้างตามเนื้อหา */
  margin-left: 10px; /* ขยับมาทางซ้าย */  
  border-radius: 6px; /* ทำให้โค้งเล็กน้อย */
  margin-bottom: 20px; /* เว้นระยะด้านล่าง */
}

 table {
  align-content: center;
  width: auto;
  margin-left: 4rem;
  /* margin-right: 4rem; */
}

.thead-blue-reserve {
  background-color: #3498db; /* สีฟ้า */
  color: white; /* สีตัวอักษรให้มองเห็นชัด */
  text-align: center; /* จัดให้อยู่ตรงกลาง */
  height: 10px; /* ลดความสูงของแถว */
  white-space: nowrap;
}

td {
  vertical-align: top; /* จัดให้เนื้อหาอยู่ด้านบนของ td */
  text-align: left; /* ให้เนื้อหาชิดซ้าย */
  height: 4rem;
}

img.picture {
  max-height:5em;
  max-width:9em;
  border-radius: 0;
  padding-left: 12px;
  padding-top: 8px;
  display: block; /* ป้องกัน margin หรือ padding แปลกๆ */
  position: relative; /* ลบ position ที่ผิดพลาดออก */
}

.button-yellow {
  background-color: rgb(255, 140, 0);
  color: white;
  border-radius: 4px; /* ปรับให้ปุ่มโค้ง */
  cursor: pointer;
  border: none;

}

.button-green {
  background-color: rgb(122, 202, 43);
  color: white;
  border-radius: 4px; /* ปรับให้ปุ่มโค้ง */
  cursor: pointer;
  border: none;

}













